<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>

</head>
<body>
  
  <form method="post" action="/searches">
    <div>
      <input type="text" name="searchField" id="" placeholder="Enter a title or author">
    </div>
    <div>
      <label for="title">Title</label>
      <input type="radio" name="radiobutton" value="intitle" >
    </div>
    <div>
      <label for="author">Author</label>
      <input type="radio" name="radiobutton" value="inauthor" >
    </div>
    <div>
      <button type="submit">Search the Google Books API</button>
    </div>
  </form>

</body>
</html>