<!-- Render the newly constructed array of objects in a new view, such as searches/show. Ensure each book is displayed with all the properties included in the wireframe.  -->


<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/header') %>
  <img src="https://via.placeholder.com/150x200">
  <h1>
    Book Title
  </h1>
  <h2>Author Name</h2>
  
  <p>Description.. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut temporibus, officia voluptate voluptates nesciunt neque earum! Nemo quasi quidem numquam, temporibus totam deserunt nulla libero nisi veritatis voluptates laborum sequi!</p>
</body>
</html>