<!-- TODO: put a nave in with a url -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('./layout/head') %>
  </head>
  <body>
    <main>
      <header>
        <%- include('./layout/header') %>
      </header>

      <h1>Hello World</h1>
    </main>
  </body>
</html>
