<h1>Book App</h1>
<nav class="navigation">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/searches/new">Search by Title or Author</a></li>
    <li><a href="/searches">Search Results</a></li>
  </ul>
</nav>